body {
    color: rgba(0, 0, 0, 0.425);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    height: 32px;
    letter-spacing: normal;
    line-height: 32px;
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 5s;
}
textarea {
    width: 600px;
    height: 150px;
    font-size: 30px;
}

div button {
    background-color: coral;
    border: rgba(0, 0, 0, 0.425);
    border-radius: 13px;
    border-style: solid;
    border-width: 3px;
    width: 600px;
    font-size: 30px;
    padding: 2% 13%;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.hide {
    display: none;
}
.highLighted {
    background-color: rgb(172, 88, 58);
}
#resultBar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#inputContent {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* GAUGE   (I DIDNT WROTE THAT CODE)*/

.gauge {
    position: relative;
}

.gauge__container {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    overflow: hidden;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.gauge__background {
    z-index: 0;
    position: absolute;
    background-color: #c5cae9;
    top: 0;
    border-radius: 300px 300px 0 0;
}

.gauge__data {
    z-index: 1;
    position: absolute;
    background-color: #3f51b5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 300px 300px 0 0;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
}

.gauge__center {
    z-index: 2;
    position: absolute;
    background-color: #fff;
    margin-right: auto;
    border-radius: 300px 300px 0 0;
}

.gauge__marker {
    z-index: 3;
    background-color: #fff;
    position: absolute;
    width: 1px;
}

.gauge__needle {
    z-index: 4;
    background-color: #e91e63;
    height: 3px;
    position: absolute;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.gauge__labels {
    display: table;
    margin: 0 auto;
    position: relative;
}

.gauge__label--low {
    display: table-cell;
    text-align: center;
}

.gauge__label--spacer {
    display: table-cell;
}

.gauge__label--high {
    display: table-cell;
    text-align: center;
}

.gauge {
    height: calc(120px + 3em);
}
.gauge__container {
    width: 240px;
    height: 120px;
}
.gauge__marker {
    height: 120px;
    left: 119.5px;
}
.gauge__background {
    width: 240px;
    height: 120px;
}
.gauge__center {
    width: 144px;
    height: 72px;
    top: 48px;
    margin-left: 48px;
}
.gauge__data {
    width: 240px;
    height: 120px;
}
.gauge__needle {
    left: 120px;
    top: 117px;
    width: 120px;
}
.gauge__labels {
    top: 120px;
    width: 240px;
}
.gauge__label--low {
    width: 48px;
}
.gauge__label--spacer {
    width: 144px;
}
.gauge__label--high {
    width: 48px;
}

@media only screen and (min-width: 400px) {
    .gauge {
        height: calc(150px + 3em);
    }
    .gauge__container {
        width: 300px;
        height: 150px;
    }
    .gauge__marker {
        height: 150px;
        left: 149.5px;
    }
    .gauge__background {
        width: 300px;
        height: 150px;
    }
    .gauge__center {
        width: 180px;
        height: 90px;
        top: 60px;
        margin-left: 60px;
    }
    .gauge__data {
        width: 300px;
        height: 150px;
    }
    .gauge__needle {
        left: 150px;
        top: 147px;
        width: 150px;
    }
    .gauge__labels {
        top: 150px;
        width: 300px;
    }
    .gauge__label--low {
        width: 60px;
    }
    .gauge__label--spacer {
        width: 180px;
    }
    .gauge__label--high {
        width: 60px;
    }
}

.gauge--liveupdate .gauge__data,
.gauge--liveupdate .gauge__needle {
    -webkit-transition: all 5s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -ms-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
}

/*
 * For a given gauge value, x, ranging from 0.0 to 1.0, set
 * the `transform: rotate()` property according to the
 * following equation: `-0.5 + 0.5x turns` The default
 * properties below represent an x value of 0.
 */

.gauge__data {
    -webkit-transform: rotate(-0.5turn);
    -moz-transform: rotate(-0.5turn);
    -ms-transform: rotate(-0.5turn);
    -o-transform: rotate(-0.5turn);
    transform: rotate(-0.5turn);
}
.gauge__needle {
    -webkit-transform: rotate(-0.5turn);
    -moz-transform: rotate(-0.5turn);
    -ms-transform: rotate(-0.5turn);
    -o-transform: rotate(-0.5turn);
    transform: rotate(-0.5turn);
}

/* THE SWITCH (ALSO A DIDNT WROTE THIS CODE)  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* HIDE DEFAULT HTML CHECKBOX */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* THE SLIDER */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* ROUNDED SLIDERS */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* THE LOADING PACKMEN */

@keyframes packmen-1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes packmen-2 {
    0% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(225deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
.packmen > div:nth-child(2) {
    transform: translate(-15px, 0);
}
.packmen > div:nth-child(2) div {
    position: absolute;
    top: 40.8px;
    left: 40.8px;
    width: 122.4px;
    height: 61.2px;
    border-radius: 122.4px 122.4px 0 0;
    background: #f8b26a;
    animation: packmen-1 1s linear infinite;
    transform-origin: 61.2px 61.2px;
}
.packmen > div:nth-child(2) div:nth-child(2) {
    animation: packmen-2 1s linear infinite;
}
.packmen > div:nth-child(2) div:nth-child(3) {
    transform: rotate(-90deg);
    animation: none;
}
@keyframes packmen-3 {
    0% {
        transform: translate(193.8px, 0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translate(71.4px, 0);
        opacity: 1;
    }
}
.packmen > div:nth-child(1) {
    display: block;
}
.packmen > div:nth-child(1) div {
    position: absolute;
    top: 93.84px;
    left: -8.16px;
    width: 16.32px;
    height: 16.32px;
    border-radius: 50%;
    background: #e15b64;
    animation: packmen-3 1s linear infinite;
}
.packmen > div:nth-child(1) div:nth-child(1) {
    animation-delay: -0.67s;
}
.packmen > div:nth-child(1) div:nth-child(2) {
    animation-delay: -0.33s;
}
.packmen > div:nth-child(1) div:nth-child(3) {
    animation-delay: 0s;
}
.loading {
    width: 204px;
    height: 204px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}
.packmen {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.packmen div {
    box-sizing: content-box;
}
